{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include "include.html" %}
    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="{% static "css/lib/font-awesome.css"%}" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static "css/compiled/new-user.css"%}" type="text/css" media="screen" />
    <link href="{% static "css/lib/bootstrap.datepicker.css"%}" type="text/css" rel="stylesheet" />
  

    <script src="{% static "js/element/bootstrap.datepicker.js"%}"></script>
    <script src="{% static "js/element/jquery.knob.js"%}"></script>
    <script type="text/javascript">
        $(function () {
            // datepicker plugin
            $('.datepicker').datepicker().on('changeDate', function (ev) {
                format: 'mm-dd-yyyy'
                $(this).datepicker('hide');
            });

            // jQuery Knobs
            $(".knob").knob();
        });
    </script>



    <script src="{% static "ckeditor/ckeditor.js"%}"></script>
   <script>

        // This code is generally not necessary, but it is here to demonstrate
        // how to customize specific editor instances on the fly. This fits well
        // this demo because we have editable elements (like headers) that
        // require less features.

        // The "instanceCreated" event is fired for every editor instance created.
        CKEDITOR.on( 'instanceCreated', function( event ) {
            var editor = event.editor,
                element = editor.element;

            // Customize editors for headers and tag list.
            // These editors don't need features like smileys, templates, iframes etc.
            if ( element.is( 'h1', 'h2', 'h3' ) || element.getAttribute( 'id' ) == 'taglist' ) {
                // Customize the editor configurations on "configLoaded" event,
                // which is fired after the configuration file loading and
                // execution. This makes it possible to change the
                // configurations before the editor initialization takes place.
                editor.on( 'configLoaded', function() {

                    // Remove unnecessary plugins to make the editor simpler.
                    editor.config.removePlugins = 'colorbutton,find,flash,font,' +
                        'forms,iframe,image,newpage,removeformat,' +
                        'smiley,specialchar,stylescombo,templates';

                    // Rearrange the layout of the toolbar.
                    editor.config.toolbarGroups = [
                        { name: 'editing',      groups: [ 'basicstyles', 'links' ] },
                        { name: 'undo' },
                        { name: 'clipboard',    groups: [ 'selection', 'clipboard' ] },
                        { name: 'about' }
                    ];
                });
            }
        });

    </script>
</head>
<body>
    {% include "navbar.html" %}

    {% include "sidebar.html" %}

    <!-- main container -->
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper" class="new-user">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} form-message" style="cursor: pointer;">
                    <i class="icon-exclamation-sign"></i>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
                <div class="row-fluid header">
                    <h3>Edit a new plan</h3>
                </div>

                <div class="row-fluid form-wrapper">
                   <div class="container">
                            <form class="new_user_form inline-input" action="{% url 'editannounce' %}" method="post" />
                            {% csrf_token %} 
                                <input name="id" class="span5" type="hidden" value="{{announce.id}}" />
                                <div class="span12 field-box">
                                    <label>Title:</label>
                                    <input name="title" class="span5" type="text" value="{{announce.Title}}" />
                                </div>
                                <div class="span12 field-box">
                                    <label>Date:</label>
                                    <input name="datetime" type="text" value="{{announce.Datetime}}" class="span5 input-large datepicker" />
                                </div>
                                <label>Content:</label>
                                <div class="span12 field-box textarea">
                                    
                                    <textarea name="content" id="content" class="span9">{{announce.Content}}</textarea>

                                </div>
                                <div class="span11 field-box actions">
                                    <input type="submit" class="btn-glow success" value="Done" />
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        CKEDITOR.replace( 'content' );
    </script>
    <!-- end main container -->
</body>
</html>