                    <div class="span9 with-sidebar">
                        <div class="container">
                            <form class="new_user_form inline-input" action="{% url 'addgroup' %}" method="post"  />
                            {% csrf_token %} 
                                <div class="span5 field-box">
                                    <label>Group Name:</label>
                                    <input  name="groupname" class="span5" type="text" value="" />
                                </div>
                                <div class="span9 field-box">
                                    <label>Group Master:</label>
                                    <div class="ui-select span5">
                                        <select name="groupmaster">
                                            <option  value="" selected=""></option>
                                        {% for user in users %}
                                            <option value="{{user.UserID}}" />{{user.UserID}}
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="span9  field-box actions pull-left">
                                <br>
                                    <input type="submit" class="btn-flat success" value="Create Group"  />
                                </div>
                            </form>
                        </div>
                        </div>