<!DOCTYPE html>
<html>
<head>
	{% include "include.html" %}
    <!-- libraries -->
    <link href="/static/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href='/static/css/lib/fullcalendar.css' rel='stylesheet' />
    <link href='/static/css/lib/fullcalendar.print.css' rel='stylesheet' media='print' />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/css/compiled/calendar.css" type="text/css" media="screen" />
    <script src="/static/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src='/static/js/fullcalendar.min.js'></script>

    <script src='/static/js/csrftoken.js'></script>
</head>
<body>

    {% include "navbar.html" %}

    {% include "sidebar.html" %}

    <!-- main container -->
    <div class="content">
        
        {% include "sideChanger.html" %}

        <div class="container-fluid">
            <div id="pad-wrapper">
                <div class="row-fluid calendar-wrapper">
                    <div class="span12">

                        <!-- div that fullcalendar plugin uses  -->
                        <div id='calendar'></div>

                        <!-- edit image pop up -->
                        <div class="new-event popup" id="pop">
                            <div class="pointer">
                                <div class="arrow"></div>
                                <div class="arrow_border"></div>
                            </div>
                            <i class="close-pop table-delete"></i>
                            <h5 >New Event</h5>
                            <div class="field">
                                Date: 
                                <span class="date">Thu, 18 April</span>
                            </div>
                            <div class="field">
                                Event:
                                <input type="text" class="event-input" />
                            </div>
                            <input type="submit" value="Create" class="btn-glow primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- builds fullcalendar example -->
    <script>
        $(document).ready(function() {
        
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            
            var calendar =$('#calendar').fullCalendar({
                header: {
                    left: 'month,agendaWeek,agendaDay',
                    center: 'title',
                    right: 'today prev,next'
                },
                selectable: true,
                selectHelper: true,
                editable: true,

                events: '/API/REST/calendar/',


                dayClick: function(date, allDay, jsEvent, view) {
                    $(".new-event").fadeIn("fast");
                    $("#pop").css({"left":"335px","top":"50px"});
                    

                    var csrftoken = getCookie('csrftoken');
                    $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });

                    calendar.fullCalendar('renderEvent',
                        {
                            title: 'Dinner' + date,
                            start: date,
                            allDay: allDay
                        }
                    );


                    var schdata = { title: "Dinner", userID: "Charlie Li", start: date ,end: "",content: "", allDay: allDay };

                    $.post("/API/REST/calendar/",schdata, function (data) 
                        {
                            //alert(data);
                        }  
                    );
                },

                eventBackgroundColor: '#278ccf'
            });
            
            // handler to close the new event popup just for displaying purposes
            // more documentation for fullcalendar on http://arshaw.com/fullcalendar/
            $(".popup .close-pop").click(function () {
                $(".new-event").fadeOut("fast");
            });
        });
    </script>

</body>
</html>