<!DOCTYPE html>
<html>
<head>
    {% include "include.html" %}
    <!-- libraries -->
    <link href="/static/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/css/compiled/index.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/js/alert-message.js"></script>
</head>
<body>

    {% include "navbar.html" %}

    {% include "sidebar.html" %}

                            
    <!-- main container -->
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper" class="user-profile">

            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} form-message" style="cursor: pointer;">
                    <i class="icon-exclamation-sign"></i>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}

                <!-- header -->
                <div class="row-fluid header">
                    <div class="span8">
                        <h3 class="name">Announcement</h3>
                        <span class="area">Date: {{first_announce.Datetime}}</span>
                        <br/> 
                        <span class="area">Publisher: {{first_announce.Publisher}} </span>
                    </div>

                    <a class="btn-flat success" href="/manage/readannounce?annid={{first_announce.id}}">
                        Read
                    </a>
                    <a class="btn-flat " href="{% url 'addannounce' %}">
                        NEW Announcement
                    </a>
                     <a class="btn-flat icon large  edit" href="/manage/editannounce?annid={{first_announce.id}}">
                        Edit
                    </a>
                    <a class="btn-flat icon delete-user" href="/manage/delannounce?annid={{first_announce.id}}" data-toggle="tooltip" title="Delete Announcement" data-placement="top">
                        <i class="icon-trash"></i>
                    </a>

                </div>

                <div class="row-fluid profile">
                    <!-- bio, new note & orders column -->
                    <div class="span9 bio">
                        <div class="profile-box">
                            <!-- biography -->
                            <div class="span12 section">
                                <h3><a >{{first_announce.Title}}</a></h3>
                                <br />
                                <p>{{first_announce.Content|safe}} </p>
                            </div>
                            
                            <!-- recent orders table -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="span2">
                                            No.
                                        </th>
                                        <th class="span3">
                                            <span class="line"></span>
                                            Date
                                        </th>
                                        <th class="span3">
                                            <span class="line"></span>
                                            Title
                                        </th>
                                        <th class="span3">
                                            <span class="line"></span>
                                            Publisher
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- row -->
                                    {% for an in announces %}
                                    <tr>
                                        <td>
                                            {{forloop.counter}}
                                        </td>
                                        <td>
                                            {{an.Datetime}}
                                        </td>
                                        <td>
                                            <a href="/manage/index?annid={{an.id}}">{{an.Title}}</a>
                                        </td>
                                        <td>
                                            {{an.Publisher}}
                                        </td>
                                    </tr>
                                    {%  endfor %}
                                </tbody>
                            </table>
                             {% if announces.object_list and announces.paginator.num_pages > 1 %}
                            <div class="pagination pull-right">
                                <ul>
                                    {% if announces.has_previous %}
                                    <li><a href="?page={{announces.previous_page_number}}">&#8249;</a></li>
                                    <li><a href="?page={{announces.previous_page_number}}">{{announces.previous_page_number}}</a></li>
                                    {% endif %}

                                    <li><a class="active" href="?page={{announces.number}}">{{announces.number}}</a></li>

                                    {% if announces.has_next %}
                                    <li><a href="?page={{announces.next_page_number}}">{{announces.next_page_number}}</a></li>
                                    <li><a href="?page={{announces.next_page_number}}">&#8250;</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- side address column -->
                    <div class="span3 address pull-right">
                        <h6>Unread Namelist</h6>
                        <ul>
                        {% for name in Namelist %}
                             <li class="ico-li">
                                <i class="icon-user"></i>
                                <a >{{name}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->

</body>
</html>
