{% load staticfiles %}
<!DOCTYPE html>
<html class="login-bg">
<head>
    {% include "include.html" %}

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="{% static "css/lib/font-awesome.css"%}" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static "css/compiled/signin.css"%}" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static "js/login/login.js"%}" ></script>
    <script type="text/javascript" src="{% static "js/common/jquery-ui.js"%}"></script>
    <script type="text/javascript" src="{% static "js/common/jquery.validate-min.js"%}" ></script>
    <script type="text/javascript" src="{% static "js/common/jquery-ui-effecs.min.js"%}" ></script>

</head>
<body>

    <div class="row-fluid login-wrapper">
        <a href="#">
            <img class="logo" src="{% static "img/logo-white.png"%}" />
        </a>

        <div class="span4 box" id="login-form-wrap">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} form-message" style="cursor: pointer;">
                    <i class="icon-exclamation-sign"></i>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <div class="content-wrap" >
                <h6>Log in</h6>
                <form id="login-form"  action="{% url 'login' %}" method="post">
                {% csrf_token %} 
                    <input class="span12 required" name="username" type="text" value="{{ username }}" placeholder="Your account" />
                    <input class="span12 required" name="password" type="password" placeholder="Your password" />
                    <a href="#" class="forgot">Forgot password?</a>
                    <div class="remember">
                        <input id="remember-me" type="checkbox" />
                        <label for="remember-me">Remember me</label>
                    </div>
                    <input class="btn-glow primary login" type="submit" value="Log in" />
                </form>
            </div>
        </div>

        <div class="span4 no-account">
            <p>Don't have an account?</p>
            <a href="signup.html">Email the Administrator</a>
        </div>
    </div>
</body>
</html>