<!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="{% url 'index' %}">
                    <i class="icon-home"></i>
                    <span>Announcement</span>
                </a>
            </li>   



            {% ifnotequal title "User"  %}
            {% ifnotequal title "Group" %}
            {% ifnotequal title "Level"  %}
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>Team</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{% url 'userlist' %}">User</a></li>
                    <li><a href="{% url 'grouplist' %}">Group</a></li>
                    <li><a href="{% url 'levellist' %}">Level</a></li>
                </ul>
            </li> 
            {% else %}
            <li class="active">
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>Team</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="active submenu">
                    <li><a href="{% url 'userlist' %}">User</a></li>
                    <li><a href="{% url 'grouplist' %}">Group</a></li>
                    <li><a href="{% url 'levellist' %}">Level</a></li>
                </ul>
            </li>  
            {% endifnotequal %}
            {% else %}
            <li class="active">
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>Team</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="active submenu">
                    <li><a href="{% url 'userlist' %}">User</a></li>
                    <li><a href="{% url 'grouplist' %}">Group</a></li>
                    <li><a href="{% url 'levellist' %}">Level</a></li>
                </ul>
            </li>  
            {% endifnotequal %}
            {% else %}
            <li class="active">
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>Team</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="active submenu">
                    <li><a href="{% url 'userlist' %}">User</a></li>
                    <li><a href="{% url 'grouplist' %}">Group</a></li>
                    <li><a href="{% url 'levellist' %}">Level</a></li>
                </ul>
            </li>  
            {% endifnotequal %}



            {% ifequal title "Plan" %}
            <li class="active">
                <a class="dropdown-toggle" href="#">
                    <i class="icon-edit"></i>
                    <span>Plan</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="active submenu">
                    <li><a href="{% url 'planlist' %}">Team Plan</a></li>

                    {% for group in groups  %}
                    <li><a href="/manage/plangrouplist?planofgroup={{group.Name}}">{{group}}</a></li>
                    {% endfor %}

                </ul>
            </li>     
            {% else %}
            <li >
                <a class="dropdown-toggle" href="#">
                    <i class="icon-edit"></i>
                    <span>Plan</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class=" submenu">
                    <li><a href="{% url 'planlist' %}">Team Plan</a></li>

                    {% for group in groups  %}
                    <li><a href="/manage/plangrouplist?planofgroup={{group.Name}}">{{group}}</a></li>
                    {% endfor %}

                </ul>
            </li>  
            {% endifequal %}

            {% ifequal title "Score" %}
            <li class="active">
                <a class="dropdown-toggle" href="#">
                    <i class="icon-signal"></i>
                    <span>Score</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="active submenu">
                    <li><a href="{% url 'scorelist' %}">Score</a></li>
                    <li><a href="{% url 'eventlist' %}">Event</a></li>
                </ul>
            </li>  
            {% else %}
             <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-signal"></i>
                    <span>Score</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{% url 'scorelist' %}">Score</a></li>
                    <li><a href="{% url 'eventlist' %}">Event</a></li>
                </ul>
            </li> 
            {% endifequal %}
            <li>
                <a href="{% url 'profilepage' %}">
                    <i class="icon-cog"></i>
                    <span>My Info</span>
                </a>
            </li>

            <li>
                <a href="{% url 'calendar' %}">
                    <i class="icon-calendar-empty"></i>
                    <span>Calendar</span>
                </a>
            </li>
            
            
            
            <li>
                <a href="gallery.html">
                    <i class="icon-picture"></i>
                    <span>Gallery</span>
                </a>
            </li>
            
            <li>
                <a href="tables.html">
                    <i class="icon-th-large"></i>
                    <span>Tables</span>
                </a>
            </li>
            <li>
                <a class="dropdown-toggle ui-elements" href="#">
                    <i class="icon-code-fork"></i>
                    <span>UI Elements</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="ui-elements.html">UI Elements</a></li>
                    <li><a href="icons.html">Icons</a></li>
                </ul>
            </li>
            
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-share-alt"></i>
                    <span>Extras</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="code-editor.html">Code editor</a></li>
                    <li><a href="grids.html">Grids</a></li>
                    <li><a href="signin.html">Sign in</a></li>
                    <li><a href="signup.html">Sign up</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->