<!DOCTYPE html>
<html>
<head>
     {% include "include.html" %}

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/static/css/lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/css/compiled/personal-info.css" type="text/css" media="screen" />

    
</head>
<body>

    <!-- navbar -->
    {% include "navbar2.html" %}
    <!-- end navbar -->

	<!-- main container .wide-content is used for this layout without sidebar :)  -->
    <div class="content wide-content">
        <div class="container-fluid">
            <div class="settings-wrapper" id="pad-wrapper">
                <!-- avatar column -->
                <div class="span3 avatar-box">
                    <div class="personal-image">
                        <img src="/static/img/personal-info.png" class="avatar img-circle" />
                    </div>
                </div>

                <!-- edit form column -->
                <div class="span7 personal-info">
                    <h5 class="personal-title">Change Password</h5>

                    <form action="{% url 'changepassword' %}" method="post" />
                    {% csrf_token %} 
                        <div class="field-box">
                            <label>Old password:</label>
                            <input name="oldpass" class="span3 inline-input"  type="text" value="{{user.UserID}}" />
                        </div>
                        <div class="field-box">
                            <label>New password:</label>
                            <input name="newpass" class="span3 inline-input" type="password" value="{{user.UserName}}" />
                        </div>
                        <div class="field-box">
                            <label>Confirm Password:</label>
                            <input name="confpass" class="span3 inline-input"  type="password" value="{{user.Levelname}}" />
                        </div>
                        <div class="span6 field-box actions">
                            <input type="submit" class="btn-glow primary" value="Save Changes" />
                            <span>OR</span>
                            <input type="reset" value="Reset" class="reset" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->

</body>
</html>