<!DOCTYPE html>
<html>
<head>
     {% include "include.html" %}

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/static/css/lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/css/compiled/personal-info.css" type="text/css" media="screen" />

    <script charset="utf-8" src="/static/kindeditor/kindeditor.js"></script>
    <script charset="utf-8" src="/static/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript">
    var editor ;
    KindEditor.ready(function(K) {
        var options = {
            cssPath : ('/static/kindeditor/themes/default/default.css',
                       '/static/kindeditor/plugins/code/prettify.css'),
            width : '680px',
            height : '400px',
            filterMode : true
       };
        editor = K.create('textarea[name="introduce"]', options);
    });
    </script>
</head>
<body>

    <!-- navbar -->
    {% include "navbar2.html" %}
    <!-- end navbar -->

	<!-- main container .wide-content is used for this layout without sidebar :)  -->
    <div class="content wide-content">
        <div class="container-fluid">
            <div class="settings-wrapper" id="pad-wrapper">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} form-message" style="cursor: pointer;">
                    <i class="icon-exclamation-sign"></i>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
                <!-- avatar column -->
                <div class="span3 avatar-box">
                    <div class="personal-image">
                        <img src="/static/img/personal-info.png" class="avatar img-circle" />
                        <p>Upload a photo...</p>
                        
                        <input type="file" />
                    </div>
                </div>

                <!-- edit form column -->
                <div class="span7 personal-info">
                    <h5 class="personal-title">Personal info</h5>

                    <form action="{% url 'profileedit' %}" method="post" />
                    {% csrf_token %} 
                        <div class="field-box">
                            <label>ID:</label>
                            <input name="userid" class="span5 inline-input" readonly="readonly" type="text" value="{{user.UserID}}" />
                        </div>
                        <div class="field-box">
                            <label>Real Name:</label>
                            <input name="username" class="span5 inline-input" type="text" value="{{user.UserName}}" />
                        </div>
                        <div class="field-box">
                            <label>Level:</label>
                            <input name="level" class="span5 inline-input" readonly="readonly" type="text" value="{{user.Levelname}}" />
                        </div>
                        <div class="field-box">
                            <label>Group:</label>
                            <input name="group" class="span5 inline-input" readonly="readonly" type="text" value="{{user.GroupName}}" />
                        </div>
                        <div class="field-box">
                            <label>Score:</label>
                            <input name="score" class="span5 inline-input" readonly="readonly" type="text" value="{{user.Score}}" />
                        </div>
                        <div class="field-box">
                            <label>SalaryPoint:</label>
                            <input name="spoint" class="span5 inline-input" readonly="readonly" type="text" value="{{user.SalaryPoint}}" />
                        </div>
                        <div class="field-box">
                            <label>Tel:</label>
                            <input name="tel" class="span5 inline-input" type="text" value="{{user.Tel}}" />
                        </div>
                        <div class="field-box">
                            <label>Email:</label>
                            <input name="email" class="span5 inline-input" type="text" value="{{user.Email}}" />
                        </div>
                        <div class="field-box">
                            <label>QQ:</label>
                            <input name="qq" class="span5 inline-input" type="text" value="{{user.QQ}}" />
                        </div>
                            <label>Introduce:</label>
                            <textarea name="introduce" class="span9">{{user.Other}}</textarea>
                        <div class="span6 field-box actions">
                            <input type="submit" class="btn-glow primary" value="Save Changes" />
                            <span>OR</span>
                            <input type="reset" value="Reset" class="reset" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->

</body>
</html>