<!DOCTYPE html>
<html>
<head>
     {% include "include.html" %}

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/static/css/lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/css/compiled/personal-info.css" type="text/css" media="screen" />

    
</head>
<body>

    <!-- navbar -->
    {% include "navbar2.html" %}
    <!-- end navbar -->

	<!-- main container .wide-content is used for this layout without sidebar :)  -->
    <div class="content wide-content">
        <div class="container-fluid">
            <div class="settings-wrapper" id="pad-wrapper">
                <!-- avatar column -->
                <div class="span3 avatar-box">
                    <div class="personal-image">
                        <img src="/static/img/personal-info.png" class="avatar img-circle" />
                        <p>ID: {{user.UserID}}</p>
                        <p>Name: {{user.UserName}}</p>
                        <p>Level: {{user.Levelname}}</p>
                        <p>Group: {{user.GroupName}}</p>
                        <p>Tel: {{user.Tel}}</p>
                        <p>Email: {{user.Email}}</p>
                        <p>QQ: {{user.QQ}}</p>
                    </div>
                </div>

                <!-- edit form column -->
                <div class="span7 personal-info">
                    <h5 class="personal-title">Curriculum Vitae</h5>
                    <form action="" method="post" />
                            <p>{{user.Other|safe}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->

</body>
</html>