{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
     {% include "include.html" %}

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="{% static "css/lib/font-awesome.css"%}" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static "css/compiled/personal-info.css"%}" type="text/css" media="screen" />

    
</head>
<body>

    <!-- navbar -->
    {% include "navbar2.html" %}
    <!-- end navbar -->

	<!-- main container .wide-content is used for this layout without sidebar :)  -->
    <div class="content wide-content">
        <div class="container-fluid">
            <div class="settings-wrapper" id="pad-wrapper">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} form-message" style="cursor: pointer;">
                    <i class="icon-exclamation-sign"></i>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
                <!-- avatar column -->
                <div class="span3 avatar-box">
                    <div class="personal-image">
                        {% ifequal user.Gender "Female" %}
                        <img src="/static/img/head/{{user.Picture}}" class="avatar img-circle" />
                        {% else %}
                        <img src="/static/img/head/{{user.Picture}}" class="avatar" />
                        {% endifequal %}
                        <p>ID: <a>{{user.UserID}}</a></p>
                        <p>Name: <a>{{user.UserName}}</a></p>
                        <p>Level: <a>{{user.Levelname}}</a></p>
                        <p>Group: <a>{{user.GroupName}}</a></p>
                        <p>Tel: <a>{{user.Tel}}</a></p>
                        <p>Email: <a>{{user.Email}}</a></p>
                        <p>QQ: <a>{{user.QQ}}</a></p>
                    </div>
                </div>

                <!-- edit form column -->
                <div class="span7 personal-info">
                    <h5 class="personal-title">Curriculum Vitae</h5>
                    <form action="" method="post" />
                            <p>{{user.Other|safe}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->

</body>
</html>