<!DOCTYPE html>
<html>
<head>

    {% include "include.html" %}
    <!-- libraries -->
    <link href="/static/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/css/compiled/user-list.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/compiled/new-user.css" type="text/css" media="screen" />

    <!-- dialog -->
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jui/jquery.ui.css" media="screen" />
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/level-dialog.js"></script>
</head>
<body>

    {% include "navbar.html" %}

    {% include "sidebar.html" %}

	<!-- main container -->
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
                <div class="row-fluid header">
                    <h3>Level</h3>
                    <div class="span10 pull-right">
                        <input type="text" id="searchtext" class="span5 search" placeholder="Type a level's name..." onKeyDown="javascript:if (event.keyCode==13) search();" />


                        <input type="button" class="btn-flat success pull-right mws-jui-dialog-mdl-btn-new" value="+ NEW LEVEL" />
                            <div id="mws-jui-dialog-new">
                            	{%  include "level/new-level.html" %}
                            </div>
                    </div>
                    <div id="mws-jui-dialog-edit">
                        {%  include "level/edit-level.html" %}
                    </div>
                </div>

                <!-- Groups table -->
                <div class="row-fluid table-list table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span3 sortable">
                                    No.
                                </th>
                                <th class="span4 sortable">
                                    <span class="line"></span>Level Name
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>Level User Number
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- row -->
                        {%  for level in levels %}
                        <tr class="first">
                            <td>
                                {{forloop.counter}}
                            </td>
                            <td>
                                <a class="name">{{level.Levelname}}</a>
                            </td>
                            <td>
                                {{ level.employee_set.count }}
                            </td>
                            <td class="align-right">
                                <ul class="actions">
                                    <li><i class="table-edit mws-jui-dialog-mdl-btn-edit" onclick=changeID({{level.id}}) ></i></li>
                                    <li class="last" ><a href="{% url 'dellevel' %}?dellevelID={{level.id}}" class="table-delete"></a></li>
                                 </ul>
                            </td>

                        </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
                {% if levels.object_list and levels.paginator.num_pages > 1 %}
                <div class="pagination pull-right">
                    <ul>
                        {% if levels.has_previous %}
                        <li><a href="?page={{levels.previous_page_number}}">&#8249;</a></li>
                        <li><a href="?page={{levels.previous_page_number}}">{{levels.previous_page_number}}</a></li>
                        {% endif %}

                        <li><a class="active" href="?page={{blogs.number}}">{{levels.number}}</a></li>

                        {% if levels.has_next %}
                        <li><a href="?page={{levels.next_page_number}}">{{levels.next_page_number}}</a></li>
                        <li><a href="?page={{levels.next_page_number}}">&#8250;</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                <!-- end Groups table -->
            </div>
        </div>
    </div>
    <!-- end main container -->
</body>
</html>
