<!DOCTYPE html>
<html>
<head>
    {% include "include.html" %}
    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/static/css/lib/font-awesome.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/css/compiled/user-list.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/common/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/js/common/bootstrap.min.js"></script>
</head>
<body>

    {% include "navbar.html" %}

    {% include "sidebar.html" %}

	<!-- main container -->
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} form-message" style="cursor: pointer;">
                    <i class="icon-exclamation-sign"></i>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
                <div class="row-fluid header">
                    <h3>User</h3>
                    <div class="span10 pull-right">
                        <input type="text" id="searchtext" class="span5 search" placeholder="Type a user's ID..." onKeyDown="javascript:if (event.keyCode==13) search();" />
                        <script type="text/javascript">
                        function search()
                        {
                           window.location="/manage/userlist?SearchName="+$("#searchtext").attr('value');
                        };
                        </script>
                        <!-- custom popup filter -->
                        <!-- styles are located in css/elements.css -->
                        <!-- script that enables this dropdown is located in js/theme.js -->
                        <div class="ui-dropdown">
                            <div class="head" data-toggle="tooltip" title="Click me!">
                                Filter users
                                <i class="arrow-down"></i>
                            </div>
                            <div class="dialog">
                                <div class="pointer">
                                    <div class="arrow"></div>
                                    <div class="arrow_border"></div>
                                </div>
                                <div class="body">
                                    <p class="title">
                                        Show users where:
                                    </p>
                                    <div class="form">
                                        <select>
                                            <option />Name
                                            <option />Email
                                            <option />Number of orders
                                            <option />Signed up
                                            <option />Last seen
                                        </select>
                                        <select>
                                            <option />is equal to
                                            <option />is not equal to
                                            <option />is greater than
                                            <option />starts with
                                            <option />contains
                                        </select>
                                        <input type="text" />
                                        <a class="btn-flat small">Add filter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn-flat success pull-right" href="{% url 'adduser' %}">+ NEW USER</a>
                    </div>
                    </div>
                </div>

                <!-- User table -->
                <div class="row-fluid table-list table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span1 sortable">
                                    No.
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>User ID
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>User Name
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>Group Name
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>Phone
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>Email
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>QQ
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- row -->
                        {%  for user in users %}
                        <tr class="first">
                            <td>
                                {{forloop.counter}}
                            </td>
                            <td>
                                <a href="/manage/profilepage?uid={{user.UserID}}" class="name">{{user.UserID}}</a>
                            </td>
                            <td>
                                <a class="name">{{user.UserName}}</a>
                                <span class="subtext"><br/>Level:  {{user.Levelname}}</span>
                            </td>
                            <td>
                                <a href="/manage/plangrouplist?planofgroup={{user.GroupName}}" class="name">{{user.GroupName}}</a>
                            </td>
                            <td>
                                <a class="name">{{user.Tel}}</a>
                            </td>
                            <td>
                                <a class="name">{{user.Email}}</a>
                            </td>
                            <td>
                                <a class="name">{{user.QQ}}</a>
                            </td>
                            <td class="align-right">
                                <ul class="actions">
                                    <li><a href="{% url 'edituser' %}?editUID={{user.id}}" class="table-edit"></a></li>
                                    <li class="last" ><a href="{% url 'deluser' %}?delUID={{user.UserID}}" class="table-delete"></a></li>
                                 </ul>
                            </td>

                        </tr>
                        {%  endfor %}

                        </tbody>
                    </table>
                </div>
                {% if users.object_list and users.paginator.num_pages > 1 %}
                <div class="pagination pull-right">
                    <ul>
                        {% if users.has_previous %}
                        <li><a href="?page={{users.previous_page_number}}">&#8249;</a></li>
                        <li><a href="?page={{users.previous_page_number}}">{{users.previous_page_number}}</a></li>
                        {% endif %}

                        <li><a class="active" href="?page={{blogs.number}}">{{users.number}}</a></li>

                        {% if users.has_next %}
                        <li><a href="?page={{users.next_page_number}}">{{users.next_page_number}}</a></li>
                        <li><a href="?page={{users.next_page_number}}">&#8250;</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                <!-- end User table -->
            </div>
        </div>
    </div>
    <!-- end main container -->

</body>
</html>
